<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/navi.css"/>
    <title>Document</title>
  </head>
  <body>
    <div id="div_navigationBar">
      <div class="verticalAlign">
        <img src="img/dot_profile.png" alt="dot_profile" class="dot_profile" />
        <div> 
          <a class="navi_a" href="/">홈</a>
          <a class="navi_a" href="/features">기능</a>
          <a class="navi_a" href="report.ejs">버그 제보</a>
          <a class="navi_a" href="suggestions.ejs">문의</a>
          <a class="navi_a" href="members.ejs">멤버</a>
          <a class="navi_a" href="support.ejs">후원</a>
        </div>
      </div>
    </div>
  </body>
</html>
