<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <title>도트-홈</title>
  </head>
  <body>
    <%- include('partials/navigation'); %>
    <div>
      <h1 class="h1_title">도트를 사용해보세요</h1>
      <span class="span_title">간단한 킬링타임용으로 사용해보세요</span><br />
      <button id="botAddingLink">서버에 추가하러 가기</button>
    </div>

    <script src="cli_js/openLink.js"></script>
    <script src="cli_js/underline.js"></script>
  </body>
</html>
