h1 {
  color: white;
  margin: 0;
}

.h1_title {
  font-size: 4em;
  margin-top: 4em;
  font-family: 'Noto Sans KR', sans-serif;
}

.span_title {
  font-size: 1.5em;
  color: #dcddde;
}

#botAddingLink {
  border: 0;
  background: none;
  color: #ffde7e;
  font-size: 1.3em;
  cursor: pointer;
}

#container {
  margin-top: 6em;
}