* {
  border: 0;
  font-family: 'Noto Sans KR', sans-serif;
  transition: 1s;
  user-select: none;
}


input {
  padding: 1em;
  width: 25%;
}

button {
  padding: 1.3em;
  width: 7%;
  border-radius: 1em;
  margin: 3em;
  background-color: #fdd765;
  /* color: white; */
  font-weight: 700;
  font-size: 105%
}

#form {
  margin-top: 4em;
}

#input_userEmail {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom: 3px solid #36393f;
}
#input_content {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}